@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box; /* Set the sizing of an element to include it's border */
}

* {
  margin: 0; /* Set the default margin to 0 */
  padding: 0; /* Set the default padding to 0 */
  text-decoration: none;
}

ul {
  list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within {
  scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto; /* Makes link undelines look better */
}

img, picture, svg, video, canvas {
  max-width: 100%; /* Makes it responsive */
  height: auto; /* Makes it responsive */
  vertical-align: middle; /* Makes text next to inline images look better */
  font-style: italic; /* If the images don't load it makes the alt decription look better */
  background-repeat: no-repeat;
  /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
  background-size: cover;
}

input, button, textarea, select {
  font: inherit; /* Makes these elements inherit fonts */
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body, html {
  height: 100%; /* Makes the body element full screen */
  scroll-behavior: smooth; /* Makes normal scrolling smooth */
}

:root {
  /* COLORS */
  --accentColor: rgb(255, 242, 120);
  --color60: #FCFCFC;
  --color60dark: #e5e5e5;
  --tableBorder: #ededed;
  --color30: rgb(51, 51, 51);
  --color30light: rgb(76, 76, 76);
  --corp1: #007934;
  --corp1dark: #00642b;
  --corp1cristal: #007934d1;
  --red: #ff000072;
  /* SHADOWS */
  --divShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@font-face {
  font-family: "Britanic";
  src: url("/fonts/BRITANIC.TTF") format("opentype");
}
@font-face {
  font-family: "DolceVita-bold";
  src: url("/fonts/DolceVitaHeavyBold.TTF") format("opentype");
}
* {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bold {
  font-weight: bold;
} 
nav {
  padding-top: 1em;
  color: var(--color60);
  background-color: var(--corp1);
  max-width: 350px;
}

nav div:nth-child(1) {
  width: 220px;
  padding: 1.5em 1em;
}

nav ul {
  display: flex;
  flex-direction: column;
  font-size: large;
}

nav ul li {
  display: flex;
  gap: 10px;
  padding: 1em;
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #008f3d;
  transition: 0.2s;
  font-weight: bold;
  padding-left: 1.5em;
}

nav ul li object {
  width: 20px;
}

nav a {
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2em;
  overflow: scroll;
  overflow-x: hidden;
}

main #mainTitle {
  margin-bottom: 1em;
} 
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

#userBubble {
  display: flex;
  width: 200px;
  max-height: 50px;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 10px;
  background-color: var(--color60dark);
  border-radius: 25px;
}
#userBubble img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
#userBubble:hover {
  cursor: pointer;
}

/* SMALL STATS CONTAINER */
.smallStatsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
}
@media (width <= 1270px) {
  .smallStatsContainer {
    gap: 1.5em 10%;
    display: grid;
    grid-template-columns: auto auto;
  }
}

.smallStatsBubble {
  background-color: var(--color60dark);
  padding: 1em;
  border-radius: 25px;
  box-shadow: var(--divShadow);
  width: 220px;
  min-height: 180px;
}
.smallStatsBubble div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5px;
}
.smallStatsBubble div h3 {
  width: -moz-fit-content;
  width: fit-content;
}
.smallStatsBubble div span {
  width: -moz-fit-content;
  width: fit-content;
  font-style: italic;
  font-weight: bold;
  color: rgb(1, 184, 1);
}
.smallStatsBubble div select {
  margin-left: auto;
  background: transparent;
  border: none;
  font-style: italic;
}
.smallStatsBubble select {
  margin-left: auto;
  background: transparent;
  border: none;
  font-style: italic;
}

/* BIG STATS CONTAINER */
.bigStatsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
}

.bigStatsBubble {
  background-color: var(--color60dark);
  padding: 1em;
  border-radius: 25px;
  box-shadow: var(--divShadow);
  min-width: 450px;
  min-height: 480px;
}
@media (width <= 1270px) {
  .bigStatsBubble {
    width: 100%;
  }
}
.bigStatsBubble div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.bigStatsBubble div h3 {
  width: -moz-fit-content;
  width: fit-content;
}
.bigStatsBubble div span {
  width: -moz-fit-content;
  width: fit-content;
  font-style: italic;
  font-weight: bold;
  color: rgb(1, 184, 1);
}
.bigStatsBubble div select {
  margin-left: auto;
  background: transparent;
  border: none;
  font-style: italic;
}
.bigStatsBubble canvas:hover {
  cursor: pointer;
}

@media (800px > width) {
  body {
    display: flex;
    flex-direction: column;
  }
  nav {
    width: 100vw;
    max-width: none;
  }
  nav ul {
    display: none;
  }
  nav div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em 1em 1em;
  }
  nav div:nth-child(1) img {
    max-width: 150px;
  }
  nav div:nth-child(1) button {
    padding: 0.5em;
    background: none;
    border: none;
    color: white;
  }
  nav div:nth-child(1) button:hover {
    cursor: pointer;
  }
}
@media (800px > width) {
  section.smallStatsContainer {
    gap: 1em;
  }
}/*# sourceMappingURL=dashboard.css.map */