@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; /* Set the sizing of an element to include it's border */
}

* {
  margin: 0; /* Set the default margin to 0 */
  padding: 0; /* Set the default padding to 0 */
  text-decoration: none;
}

ul {
  list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within {
  scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto; /* Makes link undelines look better */
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%; /* Makes it responsive */
  height: auto; /* Makes it responsive */
  vertical-align: middle; /* Makes text next to inline images look better */
  font-style: italic; /* If the images don't load it makes the alt decription look better */
  background-repeat: no-repeat;
  /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit; /* Makes these elements inherit fonts */
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body,
html {
  height: 100%; /* Makes the body element full screen */
  scroll-behavior: smooth; /* Makes normal scrolling smooth */
}

:root {
  /* COLORS */
  --accentColor: rgb(255, 242, 120);
  --color60: #fcfcfc;
  --color60dark: #e5e5e5;
  --tableBorder: #ededed;
  --color30: rgb(51, 51, 51);
  --color30light: rgb(76, 76, 76);
  --corp1: #007934;
  --corp1dark: #00642b;
  --corp1cristal: #007934d1;
  --red: #ff000072;
  /* SHADOWS */
  --divShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@font-face {
  font-family: "Britanic";
  src: url("/fonts/BRITANIC.TTF") format("opentype");
}
@font-face {
  font-family: "DolceVita-bold";
  src: url("/fonts/DolceVitaHeavyBold.TTF") format("opentype");
}
* {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bold {
  font-weight: bold;
}
nav {
  padding-top: 1em;
  color: var(--color60);
  background-color: var(--corp1);
  max-width: 350px;
}

nav div:nth-child(1) {
  width: 220px;
  padding: 1.5em 1em;
}

nav ul {
  display: flex;
  flex-direction: column;
  font-size: large;
}

nav ul li {
  display: flex;
  gap: 10px;
  padding: 1em;
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #008f3d;
  transition: 0.2s;
  font-weight: bold;
  padding-left: 1.5em;
}

nav ul li object {
  width: 20px;
}

nav a {
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2em;
  overflow: scroll;
  overflow-x: hidden;
}

main #mainTitle {
  margin-bottom: 1em;
}
.uiWindow-bg,
.uiWindow-blurBg {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  width: 100vw;
  height: 100vh;
}

.uiWindow-blurBg {
  -webkit-backdrop-filter: blur(2px) brightness(90%);
  backdrop-filter: blur(2px) brightness(90%);
}

.uiWindow {
  display: flex;
  flex-direction: column;
  padding: 2em 1.5em;
  background-color: var(--color60);
  border-radius: 15px;
}

.uiWindow .uiWindow-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uiWindow .uiWindow-nav button {
  z-index: 99;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-weight: bolder;
}

.uiWindow .uiWindow-nav button:hover {
  cursor: pointer;
}

.uiWindow .uiWindow-nav button object {
  background-color: transparent;
  width: 40px;
}

.uiWindow .uiWindow-nav button object:hover {
  cursor: pointer;
}
#receipts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-around;
}

.dishes-list-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto multiple rows */
  justify-content: space-around; /* Space between cards */
  margin: 20px; /* General margin */
}

.dish-container {
  border-radius: 20px; /* Rounded corners for the card */
  display: flex;
  flex-direction: column; /* Column layout for images and info */
  flex-basis: 24%; /* Base width for each card */
  background-color: var(--color60dark); /* Same background as recipe cards */
  max-height: 350px; /* Limit the height of each card */
  transition: filter 0.3s; /* Smooth transition for hover effect */
}

.dish-container:hover {
  filter: brightness(110%); /* Brighten on hover */
  cursor: pointer; /* Change cursor on hover */
}

.dish-container img {
  border-radius: 20px 20px 0 0; /* Rounded corners for the image */
  height: 80%;
}

.dish-container .dish-container-info {
  display: flex;
  flex-direction: column;
  padding: 10px; /* Padding around the text */
  gap: 5px; /* Space between elements */
  max-height: 100%; /* Allow flexibility */
  overflow: hidden; /* Hide overflow text */
}

.dish-window .dish-window-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0 0 0;
}

.dish-window .dish-window-main section {
  display: flex;
  flex-direction: column;
  min-width: 300px; /* Minimum width for section */
  max-width: 40vw; /* Responsive max width */
  padding-right: 2em; /* Space between sections */
  color: gray; /* Text color */
  font-style: italic; /* Italicize for description */
  line-height: 1.5; /* Line height for readability */
}

.dish-window .dish-window-main aside {
  display: flex;
  flex-direction: column;
  max-width: 270px; /* Set a max width for aside */
  color: #808080; /* Text color for aside */
}

.dish-window .dish-window-main aside img {
  width: 300px; /* Image fills aside */
}
.dish-window .dish-window-main aside button {
  width: 50px; /* Image fills aside */
  height: 50px;
  margin: 10px;
  border-radius: 5px;
}

.card {
  border-radius: 25px;
  border: 3px solid var(--corp1, #007934); /* verde corporativo */
  box-shadow: var(--divShadow);
  background: #fff;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s, border-color 0.2s;
  width: 80%; /* Ocupa el 80% del ancho de la celda */
  box-sizing: border-box;
}
.card:hover {
  box-shadow: 0 0 10px 2px var(--corp1, #00793433);
  border-color: #00994d;
}

.card img {
  border-radius: 20px;
  width: 300px;
  height: 200px !important;
}

@media print {
  body * {
    display: none;
  }
  .dish-window {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .dish-window * {
    display: inline;
  }
  .dish-window button {
    display: none;
  }
}
@page {
  size: auto;
  margin: 0.5rem 0;
} /*# sourceMappingURL=receipts.css.map */
