@use './reset.css';
@use './vars.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Britanic';
    src:  url('/fonts/BRITANIC.TTF') format('opentype');
}

@font-face {
    font-family: 'DolceVita-bold';
    src:  url('/fonts/DolceVitaHeavyBold.TTF') format('opentype');
}

* {
    font-family: "Inter", sans-serif;
    
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bold {
    font-weight: bold;
}