@use './index.css';
body {
    background-color: #f4f4f4;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: fit-content;

    img {
        width: 70%;
        filter: brightness(0%);
        margin: 1em 0 2em 0;
    }
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--corp1);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: var(--corp1dark);
}