@use './index.css';
@use './layout.css';
@use './createWindow.css';

#receipts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-around;
}

.receipt-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 24%;
    background-color: var(--color60dark);
    max-height: 350px;

    @media (width < 1090px) {
        flex-basis: 30%;
    }

    &:hover {
        filter: brightness(110%);
        cursor: pointer;

    }

    img {
        border-radius: 20px 20px 0 0;
    }

    .receipt-container-info {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 5px;
        max-height: 100%;
        overflow: hidden;
    }
}

.receipt-window {
    .receipt-window-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1em 0 0 0;
    
        section {
            display: flex;
            flex-direction: column;
            min-width: 300px;
            width: fit-content;
            max-width: 40vw;
            padding-right: 2em;
            color: gray;
            font-style: italic;
            line-height: 1.5;

            a {
                font-weight: bold;
                color: var(--corp1);
            }
        }
    
        aside {
            display: flex;
            flex-direction: column;
            max-width: 270px;
            width: auto;
            color: #808080;

            img {
                width: 100%;
            }

            .div-btn {
                display: flex;
                flex-direction: row;
                gap: 1em;
                width: 100%;
                height: 100%;
                align-items: end;
                justify-content: right;

                
                &:hover {
                    cursor: pointer;
                }

                button {
                    width: 45px;
                    height: 45px;
                    background: transparent;
                    border: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                img {
                    width: 50px;
                    height: 50px;

                    &:hover {
                        transition: 0.2s;
                        filter: brightness(50%);
                    }
                }
            }
        }
    }

}

@media print {
    body * {
        display: none;
    }

    .receipt-window {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .receipt-window *{
        display: inline;   
    }

    .receipt-window button {
        display: none;
    }
}

@page {
    size:auto;
    margin:.5rem 0;
}