@use './index.css';
@use './layout.css';
@use './createWindow.css';

#infoBubbles {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.infoBubble {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 1em 2em;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 25px;

    h3 {
        margin-bottom: 10px;
    }

    button {
        outline: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        padding: 8px 6px;
        border-radius: 8px;
        border: none;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: var(--corp1);
        color: #fff;
        margin: 15px 0 0 0;

        &:hover {
            background: var(--corp1dark);
        }
    }
}