@use './index.css';
@use './layout.css';
@use './createWindow.css';

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#stockTable, table {
    border: 1px solid var(--tableBorder);
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    th, td {
        border: 1px solid var(--tableBorder);
        text-align: left;
        padding: 10px;
    }

    thead {
        background-color: var(--color60dark);
    }

    tbody {
        button {
            background: none;
            border: none;
        }        
        img {
            width: 25px;
            cursor: pointer;
        }
    }

}

#tableNav {
    margin: 0.5em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        padding: 5px 20px;
        font-weight: bold;
        border-radius: 8px;
        &:hover {
            transition: 0.2s;
            cursor: pointer;
        }
    }

    #filter-button {
        border: 1px solid var(--color60dark);
        &:hover {
            background-color: var(--color60dark);
        }
    }

    #add-button {
        padding: 10px 30px;
        background-color: rgb(90, 150, 0);
        color: white;
        border: none;
        &:hover {
            background-color: rgb(64, 106, 0);
        }
    }
}

.uiWindow-add {
    input {
        padding: 5px;
    }

    div:nth-of-type(2) {
        display: flex;
        align-items: center;
        margin: 10px 0;
        gap: 5px;
        input {
            max-width: 3.5em;
            margin-right: 15px;
        }
    }

    #receiptInputs{
        display: flex;
        flex-direction: column;
    }

    #dataset {
        margin-bottom: 10px;
    }

    input:nth-last-of-type(1) {
        padding: 5px;
    }
}