h1 {
    color: black;
}

.text-right-input {
    text-align: right;
}

#contenedorimagenCh {
    display: inline-flex;
    border: solid 3px black;
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 250px;

}

#contenedorimagenCh img {
    width: 100%;
    height: 100%;
    border: solid 3px black;
    border-radius: 5px;
    object-fit: cover;
}