
/* =====================================
   HEADER STYLE
===================================== */
.site-header-inner {
    background: linear-gradient(180deg, var(--ccs-main-color), rgba(1, 124, 1, 0.8));
    display: flex;
    width: 100%;
    height: 85px;
    align-items: center; /* Añade esto para alinear verticalmente */
    padding: 0 20px; /* Añade padding horizontal */
    position: relative; /* Necesario para algunas soluciones */
}

.site-tools {
    margin-left: auto; /* Esta es la clave */
  
   
}


/* =====================================
   SECCIÓN INTRO HOME
===================================== */
#intro {
    font-family: "Jockey-One";
    margin: auto;
    border-radius: 0 0 35px 35px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./../../../../wp-content/uploads/2024/04/fondo-min.jpg');
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    margin-top: 0px;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.4);
}

#intro h2 {
    font-family: "Jockey-One";
    margin-top: 0em;
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    line-height: 1;
    color: #FFF278;
}