#content {
  margin-top: 0em !important;
}
.content-top {
  margin-top: 0em !important;
  padding: 6em 7em 2em !important;
}
.product-page-container {
  padding: auto;
}
.product-page-container p {
  text-align: justify;
}

.attachment-woocommerce_single {
  border: solid 3px;
  border-radius: 3px;
  margin: auto;
}

.size-woocommerce_single {
  height: 400px;
  object-fit: cover;
 
}
.woocommerce-tabs {
  display: none !important;
}
.woostify-container {
  padding-left: 32px;
  padding-right: 32px;
}
.product-page-container .quantity-button {
  width: 100%;
  height: 4em;
}
.accordion {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.product-page-container .input-button {
  font-size: 30px;
}
.product-page-container .add,
.product-page-container .subtract {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
}

@media (min-width: 1550px) {
  .product-page-container .quantity-button {
    width: 60%;
    height: 4em;
  }
  .attachment-woocommerce_single {
    min-width: 0 !important;
    max-width: none !important;
    width: 34em !important;
  }

  .product-page-container {
    padding: 0em 10em 2em !important;
  }
}
